*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}

body{
    background: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0,0.5);
    overflow: hidden;
}

.header{
   background:linear-gradient(120deg, #3acbf0 0%, #3bb0ff 100%); 
   padding: 24px;
   text-align: center;
   color:white;
}

.form{
    padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius:8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #00c3ff;
    color:white;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

.form-content.error input{
    border-color: red;
}

.form-content.error a{
    color: red;
    visibility: visible;
}

.form-content.isValid input{
    border-color: green;
}

.footer-list .footer-links {
    color: white;
    transition: all 0.4s;
}
.footer-list .footer-links:hover {
    color: purple;
}
button {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 10px;
    padding:10px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}


/*Index.html*/
.headerindex{
    background:linear-gradient(120deg, #7a3af0 0%, #763bff 100%); 
    padding: 24px;
    text-align: center;
    color:white;
 }

.sobre {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.anos {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    width: 100%;
    max-width: 600px;
}

.section details summary {
    background-color: transparent;
    padding: 2%;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 600;
}

.section details p {
    color: black;
    background-color: black;
    padding: 2%;
}
.main {
    height: 80vh;
}

.footer {
    width: 100%;
    color: white;
}

.content {
    background: linear-gradient(120deg, rgb(82, 4, 72) 0%, rgb(63, 8, 88) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 3.5rem;
}

.midias {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.midias .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

.midias .footer-links:hover {
    opacity: 0.8;
}

.midias .footer-links i {
    font-size: 1.25rem;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#linkedin {
    background-color: #0e76a8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-links {
    color: white;
    transition: all 0.4s;
}

.footer-list .footer-links:hover {
    color: purple;
}

button {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 10px;
    padding:10px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}